{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} FORMULARIO-EDITORES {% endblock %}

{% block content %}
    <form action="" method="post">
        {{ editor_form.hidden_tag() }}
        {% for field in editor_form if field.type != 'CSRFTokenField' %}
            <div class="form-group">
                {{ field.label(class="control-label") }}
                {{ field(class="form-control") }}
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Guardar</button>
        <a class="btn btn-info" href="javascript:history.back();">Regresar</a>
    </form>
{% endblock %}
