<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
            <nav class="navbar navbar-default">
                 <div class="container-fluid">
                     <div class="navbar-header">
                      <a class="navbar-brand" href="#">Biblioteca Flask</a>
                     </div>
                     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav">
                         <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Editores F<span class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('agregar_editor') }}">Registrar editor</a></li>
                                <li><a href="{{ url_for('lista_editores') }}">Listar editores</a></li>
                             </ul>
                         </li>
                         <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Autores F<span class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                 <li><a href="{{ url_for('agregar_autor') }}">Registrar autor</a></li>
                                 <li><a href="{{ url_for('lista_autores') }}">Listar autores</a></li>
                             </ul>
                         </li>
                         <li class="dropdown">
                             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Libros F<span class="caret"></span></a>
                             <ul class="dropdown-menu" role="menu">
                                 <li><a href="{{ url_for('agregar_libro') }}">Registrar libro</a></li>
                                 <li><a href="{{ url_for('lista_libros') }}">Listar libros</a></li>
                             </ul>
                         </li>
                     </ul>
                     </div>
                 </div>
            </nav>
            </div>
        </div>
    </div>
</div>